<div style="display: flex; gap: 10px;">
    <div>
        <span class="label">title: </span>
        <span>{{book.title}}</span>
    </div>
    <div>
        <span class="label">author: </span>
        <span>{{book.author}}</span>
    </div>
    <div>
        <span class="label">id: </span>
        <span>{{book.details.pages}}</span>
    </div>
    <div>
        <span class="label">price: </span>
        <span>{{book.details.price}}</span>
    </div>
    <div>
        <span class="label">languages: </span>
        <span *ngFor="let address of book.addresses; let i=index">
            {{address}}
            <span *ngIf="i != book.addresses.length - 1">,</span>
        </span>
    </div>
</div>