.button{
    margin: 10px 0;
    width: 100px;
    padding: 5px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button--add-address{
    background: brown;
    width: 150px;
    margin-left: 80px;
}

.form-item{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.form-item--address{
    margin-left: 80px;
}